/* carrusel index */
.d-item {
  height: 650px;
}

.d-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  align-items: center;
}

/* carrusel pagina sponsors */

.x-item {
  height: 650px;
}

.z-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  align-items: center;
}

/* Imagenes en pagina de contacto */

.p-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  align-items: center;
}

.p-item {
  height: 650px;
}

/* imagenes pagina carrito */

.c-img {
  height: 150px;
  width: 170px;
  padding: 10px;
}

/* imagenes pagina Producto */

.f-img {
  height: 150px;
  width: 170px;
  padding: 10px;
}
