body {
  font-family: "Inter", sans-serif;
  background-image: url(../imagenes/fotofondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#logo {
  padding: 10px 20px 10px 10px;
}

#cuerpo-video {
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(78, 78, 77));
}

.producto {
  background-color: rgb(79, 79, 79);
  color: white;
}
